* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    -webkit-tap-highlight-color: transparent;
}

html {
    overflow-x: hidden;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    background: #1F232E;
    flex-direction: column;
    height: auto;
}

.header {
    width: 100%;
    max-width: 1600px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    background: #1F232E;
    z-index: 1000;
    transition: .2s;
    opacity: 0;
}

.h_activo {
    opacity: 1;
    transition: .2s;
}

.face {
    display: flex;
    width: 90%;
    height: 100%;
}

.logo {
    flex: 20%;
    height: 100%;
    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: column;
}

.logo h1 {
    font-size: 22px;
    color: #fff;
}

.logo p {
    font-size: 14px;
    color: #fff;
    color: #fff;
    font-weight: 500px;
}

.menu-navbar {
    flex: 60%;
    height: 100%;
}

.navbar {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.link {
    font-size: 16px;
    text-decoration: none;
    padding: 10px 30px;
    color: #ffffffbb;
}

.link:hover {
    color: #fff;
    transition: .2s;
    transform: scale(1.5);
}

.dW-contact {
    flex: 20%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.dw-add-menu {
    display: none;
}

.dW-contact a button {
    padding: 10px 40px;
    font-size: 15px;
    cursor: pointer;
    background: #00EEFD;
    border-style: none;
    color: #fff;
    font-weight: 600;
}


main {
    width: 100%;
    padding-top: 80px;
    max-width: 1600px;
}

.interface {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    max-height: 600px;
}

.dW-flock {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.dW-exibition {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}


.title-exibition {
    font-size: 30px;
    color: #fff;
    margin: 10px 0;
    overflow: hidden;
}



.dW-exibition p {
    font-size: 18px;
    color: #fff;
    margin: 20px 0;
    color: #fff;
}

.dW-button a button {
    padding: 10px 40px;
    font-size: 15px;
    cursor: pointer;
    margin: 40px 0;
    background: transparent;
    border-style: none;
    color: #fff;
    border: 1px solid #00EEFD;

}


.DW-skills {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.dW-title-skills {
    width: 80%;
    height: 100px;
    align-items: center;
    justify-content: start;
    display: flex;
}

.dW-title-skills h2 {
    font-size: 22px;
    color: #fff;
}

.last-one {
    opacity: 0;
    transition: 2s;
    transform: translateX(-100px);
    filter: blur(5px);
}

.activo {
    opacity: 1;
    transition: 1s;
    transform: translateX(0);
        filter: blur(0);
}

.dW-conatiners {
    width: 80%;
    height: 300px;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    display: flex
}

.dw-skills-cons {
    display: flex;
    gap: 5%;
    width: 80%;
}

.dw-skills-cons :nth-child(2){
    transition-delay: 400ms;
}

.dw-skills-cons :nth-child(3){
    transition-delay: 700ms;
}

.dw-skills-cons :nth-child(4){
    transition-delay: 900ms;
}

.icons-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0;
}


.dw-skills-cons .texts-span {
    font-size: 14px;
    color: #fff;
    margin: 20px 0;
}

.icons-skills .fab {
    color: #fff;
    border: 1px solid #00EEFD;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.porcento {
    color: #fff;
}

.line-skillls {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.line90-skills {
    width: 100%;
    height: 10px;
    background: #ffffff3b;
    border-radius: 30px;
    overflow: hidden;
}

.span-line-skills {
    height: 100%;
    width: 90%;
    background: #fff;
    display: flex;
}

.section-interface {
    width: 100%;
    max-width: 1600px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.dW-projects {
    width: 90%;
    height: 400px;
}

.projects-title {
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: start;
    display: flex;
}

.title-projects-h2 {
    font-size: 20px;
    color: #fff;
}

.slides-projects {
    width: 100%;
    height: 450px;
    position: relative;
    overflow-x: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
}

.slides-items {
    display: flex;
    position: absolute;
    gap: 1vw;
    padding-right: 5%;
}

.slides-containers {
    width: 300px;
    height: 350px;
    border: 1px solid #fff;
}

.interface-about {
    width: 100%;
    max-width: 1600px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 600px;
}

.dw-about-face {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 350px;
}

.about-img,
.containers-about {
    height: 350px;
}

.about-img {
    align-items: center;
    justify-content: start;
    display: flex;
}

.about-img img {
    width: 60%;
    border-radius: 50%;
    background: #868685;
}

.containers-about {
    align-items: start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.containers-about h3 {
    color: #fff;
    font-size: 20px;
    margin: 20px 0;
}

.containers-about .text-about {
    font-size: 16px;
    color: #fff;
}

.footer {
    width: 100%;
    max-width: 1600px;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.dW-footer {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.send-message {
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    display: flex;
}

.send-message textarea {
    width: 80%;
    height: 195px;
    background-color: #1f232e15;
    outline: none;
    border: 1px solid #fff;
    color: #fff;
}

.send-message button {
    background: #00EEFD;
    border-style: none;
    padding: 10px 40px;
    font-size: 15px;
    margin-top: 5px;
}

.links-redes {
    width: 100%;
    height: 250px;
}

.endress {
    align-items: start;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 50%;
    width: 100%;

}

.endress p {
    font-size: 16px;
    color: #fff;
}

.redes {
    display: inline;
    align-items: center;
    justify-content: start;
    display: flex;
    height: 50%;
    width: 100%;
    gap: 5%;
}

.redes a button {
    background: transparent;
    border-style: none;
    cursor: pointer;
}

.redes .fab {
    width: 40px;
    height: 40px;
    border: 1px solid #00EEFD;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    border-radius: 50%;
    color: #fff;
    padding: 5px;
}

.direitos {
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1%;
}

.direitos p {
    font-size: 14px;
    color: #fff;
}

@media (max-width : 1024px) {

    .header {
        max-width: 1024px;
    }

    .face {
        width: 95%;
    }

    .logo h1 {
        font-size: 20px;
    }

    .logo p {
        font-size: 12px;
    }

    .link {
        font-size: 15px;
        padding: 10px 15px;
    }

    .dW-contact a button {
        font-size: 15px;
        padding: 10px 20px;
    }

    .interface {
        max-width: 1024px;
    }

    .dW-flock {
        width: 95%;
    }

    .dW-button a button {
        padding: 10px 30px;
        font-size: 15px;
    }

    .dW-exibition h1 {
        font-size: 25px;
    }

    .dW-contact button {
        padding: 10px 30px;
        font-size: 15px;
    }

    .icons-skills .fab {
        color: #fff;
        border: 1px solid #00EEFD;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 50px;
        height: 50px;
        font-size: 30px;
    }

    /* INTERFACE SECTION*/

    .section-interface {
        width: 100%;
        max-width: 1024px;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 500px;
    }

    .dW-projects {
        height: 500px;
    }


    .interface-about {
        width: 100%;
        max-width: 1024px;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 500px;
    }


    .dw-about-face {
        grid-template-columns: 1fr 1fr;
        height: 500px;
    }

    .about-img img {
        width: 60%;
    }

    .about-img {
        height: 400px;
    }

    .containers-about {
        height: 400px;
    }

    .footer {
        height: 330px;
    }

    .dW-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 450px;
        width: 95%;
    }

    .send-message {
        width: 100%;
        height: 250px;
    }

    .send-message textarea {
        width: 90%;
    }

    .links-redes {
        height: 250px;
    }

    .direitos {
        height: 80px;
    }
}


@media (max-width : 768px) {

    .header {
        height: 60px;
        max-width: 768px;
    }

    .logo {
        flex: 50%;
    }

    .menu-navbar {
        position: fixed;
        right: 0;
        width: 0;
        overflow: hidden;
        background: #1F232E;
        top: 60px;
        height: 100%;
        transition: .2s;
    }

    .menu-navbar.activo-navbar {
        width: 80%;
        transition: .2s;
    }


    .navbar {
        align-items: start;
        width: 100%;
        height: 100%;
        justify-content: start;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    .menu-navbar.activo-navbar .link {
        margin-left: 0;
        transition: 1s;
    }

    .link {
        transition: 1s;
        height: 8vh;
        min-height: 30px;
        max-height: 40px;
        width: 95%;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: start;
        margin-top: 2vw;
        padding: 0;
        margin-left: 20vw;
        padding-left: 5%;
    }

    .link:hover {
        transform: none;
        background: #00EEFD;
    }

    .dW-contact {
        display: none;
    }

    .dw-add-menu {
        display: flex;
        flex: 50%;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }

    .dw-add-menu .button-add-menu {
        background: transparent;
        border-style: none;
    }

    .button-add-menu.activo-line :nth-child(1){
        transform: translateY(5px) rotate(-50deg);
        background: red;

    }

    .button-add-menu.activo-line :nth-child(2){
        background: transparent;
    }

    .button-add-menu.activo-line :nth-child(3){
        transform: translateY(-6.95px) rotate(50deg);
        background: red;
    }

    .line {
        width: 30px;
        height: 4px;
        display: flex;
        background: #fff;
        margin: 2px auto;
        border-radius: 5px;
        transition: .2s;
    }

    main {
        padding-top: 60px;
    }

    .interface {
        max-width: 768px;
        max-height: 700px;
        padding-top: 0;
        align-items: center;
        justify-content: center;
    }

    .dW-flock {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 100%;
    }

    .dW-exibition {
        width: 100%;
        height: 50%;
        align-items: start;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .dW-exibition h1 {
        font-size: 18px;
    }

    .dW-exibition p {
        font-size: 14px;
    }

    .DW-skills {
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .dW-title-skills {
        width: 100%;
    }

    .dW-conatiners {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .dw-skills-cons {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 10%;
    }

    .icons-skills .fab {
        color: #fff;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 45px;
        height: 45px;
        font-size: 30px;
    }



    .section-interface {
        max-width: 768px;
        width: 100%;
        height: 500px;
    }

    .dW-projects {
        width: 95%;
        height: 490px;
    }

    .projects-title {
        height: 80px;
    }

    .slides-projects {
        height: 400px;
    }

    .slides-containers {
        height: 350px;
    }

    .interface-about {
        width: 100%;
        max-width: 768px;
        height: 800px;
    }

    .dw-about-face {
        width: 95%;
        display: flex;
        flex-direction: column;
        height: 700px;
    }

    .about-img {
        align-items: center;
        justify-content: center;
        display: flex;
        height: 400px;
        overflow: hidden;
    }

    .about-img img {
        width: 60%;
        object-fit: contain;
    }

    .containers-about {
        width: 100%;
        height: 300px;
        align-items: center;
        justify-self: center;
        padding-left: 0;
    }

    .containers-about .h3-title {
        font-size: 18px;
    }

    .text-about {
        font-size: 15px;
    }

    .footer {
        margin-top: 100px;
        max-width: 768px;
        width: 100%;
        height: 500px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .dW-footer {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .send-message {
        width: 100%;
    }


    .send-message textarea {
        width: 100%;
    } 

    .links-redes {
        width: 100%;
    }

    .redes {
        align-items: center;
        justify-content: center;
        display: flex;
    }

}



@media (max-width : 600px) {
    .header {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        height: 8vh;
        min-height: 50px;
        max-width: 600px;
    }

    .face {
        width: 95%;
        height: 100%;
    }

    .logo {
        flex: 50%;
    }

    .dw-add-menu {
        flex: 50%;
    }

    .logo h1 {
        font-size: 16px;
    }

    .logo p {
        font-size: 12px;
    }



    .interface {
        max-width: 600px;
        width: 100%;
    }



    .dW-flock {
        width: 95%;
    }

    .dw-skills-cons {
        gap: 5%;
    }

    .icons-skills .texts-span {
        font-size: 12px;
    }

    .containers-about .text-about {
        font-size: 14px;
    }

    .icons-skills .fab {
        color: #fff;
        border: 1px solid #00EEFD;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 30px;
        height: 30px;
        font-size: 25px;
        padding: 5px;
    }

    .footer {
        margin-top: 100px;
        max-width: 600px;
        width: 100%;
        height: 500px;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;

    }

    .dW-footer {
        width: 95%;
        height: 450px;
    }

    .send-message button {
        font-size: 14px;
        padding: 10px 35px;
    }

    .endress p {
        font-size: 14px;
    }

    .redes .fab {
        color: #fff;
        border: 1px solid #00EEFD;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 30px;
        height: 30px;
        font-size: 25px;
        padding: 5px;
    }

    .direitos {
        width: 95%;
        height: 50px;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 1vw;
    }

    .direitos p {
        color: #fff;
        font-size: 12px;
    }

}




@media (max-width : 600px)and (orientation: landscape) {
    .header {
        height: 60px;
    }

    .link {
        height: 40px;
    }
}